Welcome to mxit one night ultimate werewolf.<br/>
Coming Soon.</br>

<ul>
  <li><%= smart_link_to 'how to play','/how_to_play', id: 'how_to_play' %></li>
  <li><%= smart_link_to 'feedback','/feedback', id: 'feedback' %></li>
  <li><%= smart_link_to 'profile','/profile', id: 'profile' %></li>
  <li><%= smart_link_to 'buy credits', '/purchase_transactions', id: 'buy_credits' %></li>
  <li><%= smart_link_to 'redeem prize points', '/redeem_winnings', id: 'redeem' %></li>
</ul>


